<h3> View User Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{user.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{user.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{user.emailId}}
    </div>

    <div>
        <label> <b> DOB: </b></label> {{user.dob}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{user.age}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{user.gender}}
    </div>
    <div>
        <label> <b> Join Date: </b></label> {{user.joinDate}}
    </div>
    <div>
        <label> <b> Mobile Number: </b></label> {{user.mobileNo}}
    </div>
    <div>
        <label> <b> Street: </b></label> {{user.street}}
    </div>
    <div>
        <label> <b> City: </b></label> {{user.city}}
    </div>
    <div>
        <label> <b> State: </b></label> {{user.state}}
    </div>
    <div>
        <label> <b> PIN Code: </b></label> {{user.pinCode}}
    </div>
    <div>
        <label> <b> Country: </b></label> {{user.country}}
    </div>
</div>